@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

// primaire
$cyan: hsl(193, 38%, 86%);
$green: hsl(150, 100%, 66%);

// neutre
$neutral1: hsl(217, 19%, 38%);
$neutral2: hsl(217, 19%, 24%);
$neutral3: hsl(218, 23%, 16%);

*{
    font-family: 'Manrope', sans-serif;
}